# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/
*.iml
target/

# maven-release-plugin artifacts
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties

# maven-flatten-plugin artifacts
.flattened-pom.xml
